* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in element's total width/height */
    font-family: subs, serif;
        }

.header {
  padding: 20px 0;
  position: fixed;
  top: 1rem;
  left: 2rem;
  right: 2rem;
  width: 95vw;
  background: #240035;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-color: #fff;
  border-width: 4px;
  border-radius: 15px;
}
.brand { font-weight: 800; text-decoration: none; color: #fff; }
.sub {font-weight: 400; margin-left: 4px; }
.nav { display: flex; gap: 40px; }
.nav a {
  display: inline-block;
}
.link, .active {
  text-decoration: none;
  font-weight: 800;
  display: inline-block; /* Ensures consistent box model */
  color: rgba(255, 255, 255, 0.7); /* Default color */
  transition: color 0.2s ease; /* Smooth transition */
}

.active {
  color: #fff; /* Only change color */

.active { color: #fff; font-weight: 800; }
}