@font-face {
  font-family: "header";
  src: url('./assets/fonts/archivo-black/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "subs";
  src: url('./assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's total width/height */
  
}

.html, body {
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background: #000;
  color: #fff;
  overflow-y: auto;
}
.container { max-width: 100%; margin: 0 auto; padding: 0 24px; }


/* button */
.btn { display:inline-flex; align-items:center; gap:8px; padding:12px 22px; border-radius:999px;
  border:none; background:linear-gradient(90deg,#025401,#14ff00); color:white; font-weight:800; text-decoration:none; }